# Allows privileged applications to access the GXP device, except open,
# which is guarded by the EdgeTPU service.
allow priv_app gxp_device:chr_file { getattr read write ioctl map };
