pixel_bugreport(dump_gyotaku)

userdebug_or_eng(`
  # For access and collecting logs into vendor radio type folder.
  allow dump_gyotaku radio_vendor_data_file:dir create_dir_perms;
  allow dump_gyotaku radio_vendor_data_file:file create_file_perms;

  # For access /data/vendor/ folder.
  allow dump_gyotaku gyotaku_vendor_data_file:dir create_dir_perms;
  allow dump_gyotaku gyotaku_vendor_data_file:file create_file_perms;
')
