type hal_gnss_pixel, domain;
hal_server_domain(hal_gnss_pixel, hal_gnss)

type hal_gnss_pixel_exec, exec_type, vendor_file_type, file_type;
init_daemon_domain(hal_gnss_pixel)

#IPC between pixel and vendor HAL
binder_call(hal_gnss_pixel, hal_gnss_default)

#Read modem state
allow hal_gnss_pixel sysfs_modem_state:file r_file_perms;

#Toggle coredump node
allow hal_gnss_pixel sysfs_gps:file rw_file_perms;
