allow hal_gnss_default fwk_sensor_service:service_manager find;
allow hal_gnss_default gnssd:unix_stream_socket connectto;
allow hal_gnss_default vendor_gps_file:dir create_dir_perms;
allow hal_gnss_default vendor_gps_file:file create_file_perms;
allow hal_gnss_default vendor_gps_file:fifo_file create_file_perms;
allow hal_gnss_default sysfs_gps:file rw_file_perms;
binder_call(hal_gnss_default, gnssd);

#Read GPS property
get_prop(hal_gnss_default, vendor_gps_prop)

#IPC between pixel and vendor HAL
binder_call(hal_gnss_default, hal_gnss_pixel)
